html,
body {
  margin: 0;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Light.ttf");
  font-style: light;
}