.main {
  min-height: 100vh;
  flex: 1;
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1;
  font-size: 3em;
  font-family: Lora;
  font-style: italic;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}


.grid {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  height: calc(100vh - 3em)
}

.name {
  font-family: Inter;
  font-size: 2em;
  font-variant: light;
}

.description {
  font-family: 'Courier New';
  font-size: 1em;
  margin-bottom: 5%;
}

.membertab {
  transition: all 0.3s ease-in-out;
  padding: 1%;
  text-align: center;
  margin: 0;
  flex-grow: 1;
}

.membertab:hover {
  transition: .5s ease-in-out;
  padding: 5%;
}

.bgimg {
  background-origin: content-box;
  background-attachment: scroll;
}